.signup-image{
    height: auto;
    width: 96%;
    margin-top: 20%;
    
    
}
body{
    background-color: #c8cacd;
}
.signup{
    display: flex;
   
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 40px;
    border-radius: 10px;
    margin-bottom: 20px;

}
.left-container{
    width: 50%;
    height: auto;
    border-radius:10px 0 0 10px;
    background-color: white;
    border:1px solid #1E1E1E;
}
.right-container{
    width: 50%;
    height: auto;
    /* background: #3ABB92; */
    background:#1E1E1E ;
    color:white;
   margin-right: 40px;
    display: flex;
    flex-direction: column;
    border-radius:0 10px  10px 0;
}
*{
    margin:0px;
    padding:0px;
}
.full-name{
    display: flex;
    margin-right:20px;
}
/* input{
    height:50px;
    width:60%;
    margin-top:40px;
    margin-left: 18%;
    border:  none;
   border-bottom:  2px  solid white ;
   background-color: white;
   color:#1E1E1E;
   border-radius:5px;

  
} */
button{
    height:40px;
    width:30%;
    margin-left: 32%;
    margin-top:40px;
    background-color: white;
    color:black;
    font-weight:600 ;
    cursor: pointer;
    transition: 0.1s ease-in;
    font-size: larger;
    border:none;
    border-radius:4px;
    box-shadow:  0 2px 3px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button:hover{
    background-color: black;
    color:white;
    
}
::placeholder{
    font-size: larger;
    color:#1E1E1E;
    margin-top: 20px;
}
h1{
    font-weight: 300;
    padding-left: 35%;
    margin-top:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.right-container a{
    font-size: larger;
    color: white;
    text-decoration: none;
    padding-left: 35%;
    margin-top: 40px;
    margin-bottom:20px;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.right-container a:hover{
    text-decoration: underline;
   
}

.right-container p{
    color:blue;
    margin-left:18%;
}
